.container-fluid
  .row.justify-content-sm-center
    .col-sm-12
      = form_for @task, :url => "/factories/#{idencode(@factory.id)}/tasks/#{@task.id ? idencode(@task.id) : ''}", :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
        - if @task.errors.any?
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} x 
            %h2= "#{pluralize(@task.errors.count, "错误")}:"
            %ul
              - @task.errors.full_messages.each do |msg|
                %li= msg
        - if @error 
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} x 
            以下人员今日已被安排任务，不可重复安排任务
            %ul
              - @error.each do |msg|
                %li= msg
        .row
          .col-sm-12
            %h2.text-center
              = image_tag "gykg.jpg"
              - if @task.id
                = @task.task_date
              = Setting.tasks.label
          .col-md-8.offset-md-2.p-5.border
            #flash_explanation
            .card.border-0.mb-3.rounded-0
              .card-body
                %table.w-100.table-bordered.day-pdt-table
                  %tbody
                    
                    - unless @task.id
                      %tr
                        %td.p-2.text-center
                          = f.label Setting.tasks.task_date, :class => "text-center"
                        %td.p-2.text-center
                          = f.date_field :task_date, :class => "form-control" , :required => true, :min => Date.today, :value => Date.today
                      
                    %tr
                      %td.p-2.text-center
                        = f.label Setting.tasks.des, :class => "text-center"
                      %td.p-2.text-center
                        = f.text_area :des, :class => "form-control", :rows => "10" 
                    %tr
                      %td.p-2.text-center
                        巡检人员
                      %td.p-2.text-center
                        %ul.list-group.list-group-horizontal
                          %li.list-group-item.text-left 
                            - @wx_users.each do |k|
                              %label.checkbox-inline.mr-5
                                = check_box_tag 'wx_users[]', k.id, @wx_user_selector.include?(k.id), {array: true}
                                = k.name 
          
            .form-group.row
              = f.label "附图", :class => "col-2 text-right col-form-label col-form-label"
              .col-10
                .row
                  = f.fields_for :enclosures do |enclosure|
                    = render 'enclosure_fields', f: enclosure
                  .links
                    = link_to_add_association "添加文件", f, :enclosures, :class => "button button-small button-primary"
          
          
          
            .form-group.row
              .col-3.offset-3
                = f.submit '保存', :class => "button  button-small button-action"
            -#
              .col-3.offset-1
                = link_to '返回', tasks_path, :class => "button button-small  button-caution"
