- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}

      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text: @task.task_date.to_s + '巡检任务'
          = link_to "/factories/#{idencode(@factory.id)}/#{controller_name}", :class => "button button-small  pull-right button-primary" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
      - content_for :card_body do
        .container-fluid
          .row.mb-5
            .col-sm-12
              %table.w-100.table-bordered.day-pdt-table
                %tbody
                  %tr
                    %td.p-2.text-center.align-middle
                      巡检人员
                    %td.p-2
                      - @task.wx_users.each do |wx_user|
                        %span.mr-5
                          = wx_user.name
                          = wx_user.phone
                  %tr
                    %td.p-2.text-center.align-middle
                      任务详情
                    %td.p-2
                      = @task.des
                      - @task.enclosures.each do |e|
                        = image_tag e.file_url(:small_width)
          .row
            .col-sm-12
              %table.table.w-100.table-bordered.day-pdt-table
                %thead
                  %tr
                    %th.text-center.align-middle
                      站点
                    %th.text-center.align-middle
                      巡检人员
                    %th.text-center.align-middle
                      签到时间
                    %th.text-center.align-middle
                      站点运行状态
                    %th.text-center.align-middle
                      问题反馈
                    %th.text-center.align-middle
                      现场拍照

                %tbody
                  - @task_reports.each do |rept|
                    %tr
                      %td.p-2.text-center.align-middle
                        = rept.device.name
                      %td.p-2.text-center.align-middle
                        = rept.wx_user.name
                      %td.p-2.text-center.align-middle
                        = rept.created_at.strftime('%H:%M:%S')
                      %td.p-2.text-center.align-middle
                        - if rept.state == '0' 
                          %span.p-2.text-white.bg-success
                            正常
                        - else
                          %span.p-2.text-white.bg-danger
                            异常
                      %td.p-2.text-left.align-middle
                        = rept.question
                      %td.p-2.text-left.align-middle
                        - rept.img.split(',').each do |img|
                          = image_tag img, :class => 'h-100px'
        .container-fluid.px-0    
          %ul.border.bg-white.list-group.list-group-horizontal.pl-3.py-2
            %li.list-group-item.pl-0.border-0
              = select_tag "inspector", options_for_my_factory(@wx_users), :include_blank=>false, :class=>"form-control"
            %li.list-group-item.border-0.pl-0.d-none
              = date_field_tag 'inspect_date', nil, class: 'form-control mr-1', :value => @task.task_date, :min => @task.task_date, :max => @task.task_date
            %li.list-group-item.pl-0.border-0
              %button#report-search.button.button-royal.button-small{:type => "button"}
                查询

          .row
            .col-md-12
              #allmap
            -#
              %ul.list-unstyled
                - @task_reports.each do |rept|
                  %li.media.mb-4
                    = image_tag rept.wx_user.avatarurl, :class => "mr-3"
                    .media-body
                      %h5.mt-0.mb-1
                        = rept.wx_user.name
                        = rept.created_at.strftime('%Y-%m-%d %H:%M:%S')
                        - if rept.state == '0' 
                          %span.bg-success
                            正常
                        - else
                          %span.bg-danger
                            异常
                      %p
                        = rept.question
                      .row
                        - rept.img.split(',').each do |img|
                          .col-3
                            = image_tag img, :class => 'img-fluid'
                     
                    
                            
              
      = render "layouts/bootstrap/card"
